<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpAdvancedBookingSystem
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_Marketplace::marketplace" title="Marketplace Management" sortOrder="10">
                    <resource id="Webkul_MpAdvancedBookingSystem::mpadvancedbookingsystem" title="Marketplace Advanced Booking System" sortOrder="10">
                        <resource id="Webkul_MpAdvancedBookingSystem::menu" title="Menu" sortOrder="10">
                            <resource id="Webkul_MpAdvancedBookingSystem::bookings" title="View Bookings Orders" sortOrder="1" />
                            <resource id="Webkul_MpAdvancedBookingSystem::bookings_products" title="View Bookings Products" sortOrder="2" />
                            <resource id="Webkul_MpAdvancedBookingSystem::bookings_questions" title="View Questions" sortOrder="3" />
                            <resource id="Webkul_MpAdvancedBookingSystem::bookings_cancellation" title="Cancellation Requests" sortOrder="4" />
                            <resource id="Webkul_MpAdvancedBookingSystem::calendar" title="View Calender" sortOrder="5" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_MpAdvancedBookingSystem::config_MpAdvancedBookingSystem" title="Mp AdvancedBookingSystem Configuration Section" sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
