<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_Affiliate
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="affiliate_traffic_grid_list" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                </item>
                <item name="affiliate_sales_grid_list" xsi:type="array">
                    <item name="created_date" xsi:type="string">created_date</item>
                </item>
                <item name="affiliate_payment_grid_list" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                </item>
                <item name="affiliate_banner_grid_list" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
