<?xml version="1.0"?>
<!--
/**
* Webkul Software
*
* @category Webkul
* @package Webkul_Mpperproductshipping
* @author Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license https://store.webkul.com/license.html
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <webkulmpperproduct>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <sallowspecific>0</sallowspecific>
                <model>Webkul\Mpperproductshipping\Model\Carrier</model>
                <name>MP Per Product Shipping</name>
                <title>Webkul Marketplace Per Product Shipping</title>
                <defaultprice>10</defaultprice>
                <handling_type>F</handling_type>
            </webkulmpperproduct>
        </carriers>
    </default>
</config>
