<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpServiceFee
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="7">
            <label>WEBKUL</label>
        </tab>
        <section id="webkul_service_fee" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" >
            <label>Service Fee</label>
            <tab>webkul</tab>
            <resource>Webkul_MpServiceFee::config_servicefee</resource>
            <group id="service_fee_settings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Service Fees settings</label>
                <field id="enable_disable_service_fee" translate="label" type="select" sortOrder="3" showInDefault="1">
                    <label>Enable Webkul Service Fees</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
