<?xml version="1.0"?>
<!-- /**
* Webkul Software
*
* @category Webkul
* @package Webkul_MpStripe
* @author Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license https://store.webkul.com/license.html
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
        	<mpstripe>
                <active>0</active>
                <charge_type>separate</charge_type>
            	<model>Webkul\MpStripe\Model\PaymentMethod</model>
            	<stripe_payment_action>authorize_capture</stripe_payment_action>
            	<vault_active>1</vault_active>
            	<title>MpStripe</title>
                <order_status>processing</order_status>
                <integration>0</integration>
            	<name_on_form>MpStripe Pay</name_on_form>
                <min_order_total>0.50</min_order_total>
            </mpstripe>
    	</payment>
    </default>
</config>
