<?xml version="1.0"?>
<!--
/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_MpStripe
* @author    Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Creditmemo\Total\Shipping" type="Webkul\MpStripe\Model\Order\Creditmemo\Total\Shipping"/>
    <preference for="Webkul\Marketplace\Block\Order\Items" type="Webkul\MpStripe\Block\Order\Items"/>
    <!-- collect tax override -->
    <preference for="Magento\Sales\Model\Order\Creditmemo\Total\Tax" type="Webkul\MpStripe\Model\Order\Creditmemo\Total\Tax"/>
    <type name="Webkul\MpStripe\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\MpStripe\Logger\StripeLogger">
        <arguments>
            <argument name="name" xsi:type="string">mpstripe</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Webkul\MpStripe\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="\Webkul\Marketplace\Helper\Data">
       <plugin name="Webkul_MpStripe::updatedHelperDataFile"
               type="Webkul\MpStripe\Plugin\Helper\Data"
               sortOrder="100" />
    </type>
    <type name="\Magento\Backend\Block\Widget\Button\Toolbar">
       <plugin name="Webkul_MpStripe::removeButtonList"
               type="Webkul\MpStripe\Plugin\Backend\Block\Widget\Button\Toolbar"/>
    </type>
    <type name="Webkul\MpStripe\Model\ImageUploader">
        <arguments>
            <!-- Temporary file stored in pub/media/faq/tmp/icon -->
            <argument name="baseTmpPath" xsi:type="string">idproof/tmp/idproof</argument>
            <argument name="basePath" xsi:type="string">idproof/</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
    <!-- API implementation -->
    <preference for="Webkul\MpStripe\Api\WebhookInterface" type="Webkul\MpStripe\Model\Payment\WebHook" />
    
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="addcapturebutton" type="Webkul\MpStripe\Plugin\Block\Adminhtml\Order\View"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
		<plugin name="wk_prevent_add_to_cart" type="Webkul\MpStripe\Plugin\PreventCart" sortOrder="1" disabled="false"/>
    </type>

    <type name="Webkul\MpStripe\Model\Payment\WebHook">
        <arguments>
            <argument name="webhookEvent" xsi:type="array">
                <item name="charge.succeeded" xsi:type="object">Webkul\MpStripe\Model\Payment\ChargeSucceeded</item>
                <item name="charge.captured" xsi:type="object">Webkul\MpStripe\Model\Payment\ChargeCaptured</item>
                <item name="payment_intent.succeeded" xsi:type="object">Webkul\MpStripe\Model\Payment\PaymentIntentSucceeded</item>
                <item name="payment_intent.payment_failed" xsi:type="object">Webkul\MpStripe\Model\Payment\PaymentIntentFailed</item>
            </argument>
        </arguments>
    </type>
<preference for="Webkul\MpStripe\Api\MpStripeOrderManagementInterface" type="Webkul\MpStripe\Model\MpStripeOrderManagement" />
</config>
