<?xml version="1.0"?>
<!--/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_MpStripe
* @author    Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="mpstripe" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[Marketplace Stripe Payment]]></label>
                
                <field id="active" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field> 

                <field id="debug" translate="label" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Webkul\MpStripe\Model\Source\Environment</source_model>
                </field>

                <field id="integration" translate="label comment" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Type of Integration</label>
                    <source_model>Webkul\MpStripe\Model\Source\IntegrationType</source_model>
                    <comment>Choose the relevent Intergration at the time of adding credentials as changing the type will make the seller loose there accounts on this platform and they need to re-register with the Connect account again.</comment>
                </field>

                <field id="stripe_payment_action" translate="label comment" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Action</label>
                    <source_model>Webkul\MpStripe\Model\Source\PaymentAction</source_model>
                    <comment>Select the event to capture payment</comment>
                </field>

                <field id="charge_type" translate="label comment" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Charge Type</label>
                    <source_model>Webkul\MpStripe\Model\Source\ChargeType</source_model>
                    <comment>Direct Charge - Single Seller Checkout, Charge will be generated on Seller end.
                    Separate Charge and Transfer - Multiple Seller Checkout, Chrage will be generated on Admin end and then it will be transfered to respective Sellers</comment>
                </field>

                <field id="vault_active" translate="label" type="select" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vault Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="charge_type">separate</field>
                    </depends>
                </field>

                <field id="allow_management" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Seller To Manage Custom Accounts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="integration">2</field>
                    </depends>
                </field>
                
                <field id="api_key" translate="label" type="obscure" sortOrder="106" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api Secret Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field> 

                <field id="api_publish_key" translate="label" type="obscure" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api Publishable Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field> 

                <field id="client_secret" translate="label" type="obscure" sortOrder="108" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="name_on_form" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Set Name Display on Form</label>
                </field>

                <field id="image_on_form" translate="label comment" type="image" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Set Image</label>
                    <backend_model>Webkul\MpStripe\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">mpstripe/config</base_url>
                    <comment>Upload any Image that you want to show on stripe payment form at frontend</comment>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="113" showInDefault="1" showInWebsite="1" showInStore="0">
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends><field id="allowspecific">1</field></depends>
                </field>

                <field id="min_order_total" translate="label comment" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                    <comment>$0.50 is the minimum amount allowed by Stripe</comment>
                </field>

                <field id="max_order_total" translate="label" type="text" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="117" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>

                <field id="webhook" translate="label comment tooltip" type="button" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Webkul\MpStripe\Block\Adminhtml\System\Config\Button</frontend_model>
                </field>

            </group>
        </section>
    </system>
</config>
